* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  
}

/* css colors  */
:root {
  --violet  : #550065;
  --orange : #F54500;
  --white :#f1f1f1
}
/* Géneral */


.navbar {
  padding: 0;
  background: var(--orange);
}
.container {
 
}