* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  
  
}

/* css colors  */
:root {
  --violet  : #550065;
  --orange : #F54500;
  --white :#f1f1f1
}
/* Géneral */


.navbar {
  
  background: var(--orange)  ; 
}
/* ......................................home .................................. */
h6{
  color: var(--white);
  padding-top: 50px;
  text-align: center;
}
h5 {
  color: var(--orange);
  padding-top: 50px;
  text-align: center;
}
.home {
  
  background: var(--violet);
}
.home h2 {
 
  color: var(--white);
  background: var(--violet);
  
}
.card-match {
  margin: 40px 0;
}
.card-date {
  color: rgb(83, 82, 82);
  position: absolute;
  top: 8px;
  right:10px;
}
.flag {
  width: 40px;
  height: 30px;
}
/*............................profil............................ */
.text-profil {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

.profil {
  background: var(--violet);
}
.flag-profil{
  position: absolute;
  width: 10%;
  left: 2px;
  border-radius: 10px;
}
.img-profil {
  border: 5px solid var(--violet);
  width: 100%;
  padding: 4px;
  /* filter: grayscale(100%); */
  border-radius: 9999px;
}

/* **************statistiques*********** */

.score {
  
  font-size: 20px;
  font-weight: bold;
  color: var(--orange);

}

/* **************Classements*********** */

.flag-classment {
  width: 20px;
  border-radius: 2px;
}
.cup-svg{
  
  width: 30%;
  filter: invert(50%) sepia(93%) saturate(6319%) hue-rotate(10deg) brightness(103%) contrast(103%);
  
}
/* ***********Footer ***************** */

footer {
  padding: 30px;
  background:rgb(28, 1, 28);
  color: aliceblue;
  font-size: smaller;
 
}
