* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  
  
}

/* css colors  */
:root {
  --violet  : #550065;
  --orange : #F54500;
  --white :#f1f1f1
}
/* Géneral */


.navbar {
  
  background: var(--orange)  ; 
}
/* ..........home .......... */
.home {
  
  float: left;
  background: var(--violet);
}
.home h2 {
 
  color: var(--white);
  background: var(--violet);
  
}
.card-date {
  color: rgb(83, 82, 82);
  position: absolute;
  top: 8px;
  right:10px;
}
.flag {
  width: 40px;
  height: 30px;
}